mods/
astralsorcery/
crash-reports/
downloads/
library/
logs/
orbis/
saves/
bendspacks/
replay_*
*.dat
knownkeys.txt
crafttweaker.log
journeymap/server/
journeymap/icon/
journeymap/data/
journeymap/journeymap.log
usercache.json
usernamecache.json
llibrary/
options.txt
config/jei/worldSettings.cfg
config/splash.properties
resourcepacks/
minecraftinstance.json
config/BiomeTweaker/output/
config/Aether/analytics.*
config/InvTweaks.cfg
config/MouseTweaks.cfg
dumps/
