# Configuration file

abyssalnite {
    # Global toggle for the Abyssalnite material
    S:enable_abyssalnite=true

    # Whether Abyssalnite should be used for cores
    S:enable_cores=true

    # Whether Abyssalnite should be used for plates
    S:enable_plates=true

    # Whether Abyssalnite should be used for trims
    S:enable_trims=true
}


boron {
    # Global toggle for the Boron material
    S:enable_boron=true

    # Whether Boron should be used for cores
    S:enable_cores=true

    # Whether Boron should be used for plates
    S:enable_plates=true

    # Whether Boron should be used for trims
    S:enable_trims=true
}


boron_nitride {
    # Global toggle for the Boron Nitride material
    S:enable_boron_nitride=true

    # Whether Boron Nitride should be used for cores
    S:enable_cores=true

    # Whether Boron Nitride should be used for plates
    S:enable_plates=true

    # Whether Boron Nitride should be used for trims
    S:enable_trims=true
}


conductive_iron {
    # Global toggle for the Conductive Iron material
    S:enable_conductive_iron=true

    # Whether Conductive Iron should be used for cores
    S:enable_cores=true

    # Whether Conductive Iron should be used for plates
    S:enable_plates=true

    # Whether Conductive Iron should be used for trims
    S:enable_trims=true
}


constantan {
    # Global toggle for the Constantan material
    S:enable_constantan=true

    # Whether Constantan should be used for cores
    S:enable_cores=true

    # Whether Constantan should be used for plates
    S:enable_plates=true

    # Whether Constantan should be used for trims
    S:enable_trims=true
}


construction_alloy {
    # Global toggle for the Iron Alloy material
    S:enable_construction_alloy=true

    # Whether Iron Alloy should be used for cores
    S:enable_cores=true

    # Whether Iron Alloy should be used for plates
    S:enable_plates=true

    # Whether Iron Alloy should be used for trims
    S:enable_trims=true
}


dark_steel {
    # Whether Dark Steel should be used for cores
    S:enable_cores=true

    # Global toggle for the Dark Steel material
    S:enable_dark_steel=true

    # Whether Dark Steel should be used for plates
    S:enable_plates=true

    # Whether Dark Steel should be used for trims
    S:enable_trims=true
}


dreadium {
    # Whether Dreadium should be used for cores
    S:enable_cores=true

    # Global toggle for the Dreadium material
    S:enable_dreadium=true

    # Whether Dreadium should be used for plates
    S:enable_plates=true

    # Whether Dreadium should be used for trims
    S:enable_trims=true
}


electrical_steel {
    # Whether Electrical Steel should be used for cores
    S:enable_cores=true

    # Global toggle for the Electrical Steel material
    S:enable_electrical_steel=true

    # Whether Electrical Steel should be used for plates
    S:enable_plates=true

    # Whether Electrical Steel should be used for trims
    S:enable_trims=true
}


end_steel {
    # Whether End Steel should be used for cores
    S:enable_cores=true

    # Global toggle for the End Steel material
    S:enable_end_steel=true

    # Whether End Steel should be used for plates
    S:enable_plates=true

    # Whether End Steel should be used for trims
    S:enable_trims=true
}


energetic_alloy {
    # Whether Energetic Alloy should be used for cores
    S:enable_cores=true

    # Global toggle for the Energetic Alloy material
    S:enable_energetic_alloy=true

    # Whether Energetic Alloy should be used for plates
    S:enable_plates=true

    # Whether Energetic Alloy should be used for trims
    S:enable_trims=true
}


hard_carbon {
    # Whether Hard Carbon should be used for cores
    S:enable_cores=true

    # Global toggle for the Hard Carbon material
    S:enable_hard_carbon=true

    # Whether Hard Carbon should be used for plates
    S:enable_plates=true

    # Whether Hard Carbon should be used for trims
    S:enable_trims=true
}


pulsating_iron {
    # Whether Pulsating Iron should be used for cores
    S:enable_cores=true

    # Whether Pulsating Iron should be used for plates
    S:enable_plates=true

    # Global toggle for the Pulsating Iron material
    S:enable_pulsating_iron=true

    # Whether Pulsating Iron should be used for trims
    S:enable_trims=true
}


redstone_alloy {
    # Whether Redstone Alloy should be used for cores
    S:enable_cores=true

    # Whether Redstone Alloy should be used for plates
    S:enable_plates=true

    # Global toggle for the Redstone Alloy material
    S:enable_redstone_alloy=true

    # Whether Redstone Alloy should be used for trims
    S:enable_trims=true
}


refined_coralium {
    # Whether Refined Coralium should be used for cores
    S:enable_cores=true

    # Whether Refined Coralium should be used for plates
    S:enable_plates=true

    # Global toggle for the Refined Coralium material
    S:enable_refined_coralium=true

    # Whether Refined Coralium should be used for trims
    S:enable_trims=true
}


soularium {
    # Whether Soularium should be used for cores
    S:enable_cores=true

    # Whether Soularium should be used for plates
    S:enable_plates=true

    # Global toggle for the Soularium material
    S:enable_soularium=true

    # Whether Soularium should be used for trims
    S:enable_trims=true
}


tough {
    # Whether Tough Alloy should be used for cores
    S:enable_cores=true

    # Whether Tough Alloy should be used for plates
    S:enable_plates=true

    # Global toggle for the Tough Alloy material
    S:enable_tough=true

    # Whether Tough Alloy should be used for trims
    S:enable_trims=true
}


treatedwood {
    # Whether Treated Wood should be used for cores
    S:enable_cores=true

    # Whether Treated Wood should be used for plates
    S:enable_plates=true

    # Global toggle for the Treated Wood material
    S:enable_treatedwood=true

    # Whether Treated Wood should be used for trims
    S:enable_trims=true
}


vibrant_alloy {
    # Whether Vibrant Alloy should be used for cores
    S:enable_cores=true

    # Whether Vibrant Alloy should be used for plates
    S:enable_plates=true

    # Whether Vibrant Alloy should be used for trims
    S:enable_trims=true

    # Global toggle for the Vibrant Alloy material
    S:enable_vibrant_alloy=true
}


