# Configuration file

##########################################################################################################
# the_beneath
#--------------------------------------------------------------------------------------------------------#
# The Beneath
##########################################################################################################

the_beneath {
    # Vein size multiplier [range: 1.0 ~ 3.0, default: 1.5]
    S:beneathSize=1.5

    # Vein number multiplier [range: 1.0 ~ 3.0, default: 1.5]
    S:beneathCount=1.5

    # Lowest possible Y [range: 0 ~ 128, default: 10]
    I:beneathMinY=10

    # Highest possible Y [range: 0 ~ 128, default: 120]
    I:beneathMaxY=120
}


##########################################################################################################
# the_end
#--------------------------------------------------------------------------------------------------------#
# The End
##########################################################################################################

the_end {
    # Enable new End style [default: true]
    B:newEndIsEnabled=false

    # New End color variations (red, blue, green, purple) [default: purple]
    S:newEndColor=purple
}


the_end_endsand {
    # Generate in world [default: true]
    B:endSandEnabled=false

    # Size of vein [range: 0 ~ 50, default: 10]
    I:endSandSize=10

    # Veins per chunk [range: 0 ~ 50, default: 2]
    I:endSandCount=2
}


the_end_goldgranite {
    # Generate in world [default: true]
    B:goldGraniteEnabled=false

    # Size of vein [range: 0 ~ 50, default: 17]
    I:goldGraniteSize=17

    # Veins per chunk [range: 0 ~ 50, default: 1]
    I:goldGraniteCount=1
}
